body {
	width: 590px;
	height: 300px;
	border: 1px dashed #ccc;
	margin: 0 auto;
	position: relative;
}

.mustache {
	color: #000;
	background-color: #000;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	left: 150px;
	box-shadow: 135px 0 #000;
}

.mustache::before {
	content: '';
	width: 150px;
	height: 75px;
	//background-color: blue;
	position: absolute;
	left: -150px;
	top: -40px;
	border-radius: 0 0 0 100%;
	border-bottom: 150px solid black;
	-webkit-transform: rotate(-50deg);
	       transform: rotate(-50deg);
	-webkit-transform-origin: right 50px;
			transform-origin: right 50px;
}

.mustache::after {
	content: '';
	width: 150px;
	height: 75px;
	position: absolute;
	//background-color: blue;
	left: 285px;
	top: -40px;
	border-radius: 0 0 100% 0;
	border-bottom: 150px solid black;
	-webkit-transform: rotate(50deg);
	       transform: rotate(50deg);
	-webkit-transform-origin: left 50px;
			transform-origin: left 50px;
}